<a href="https://colab.research.google.com/github/mrtpbarca/mrtp/blob/main/Almond%20Crop%20Forecast%20Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Almond crop forecast model

In [5]:
import pandas as pd

In [20]:
Gitpath='https://raw.githubusercontent.com/mrtpbarca/mrtp/main/data.csv'
pd.read_csv(Gitpath)

    Year  Bearing acres  Trees per acre  ... dollars 1,000 dollars  Carry In
0    1987       417,000            84.0  ...    1.00       648,000       NaN
1    1988       419,000            86.3  ...    1.05       600,075       NaN
2    1989       411,000            87.3  ...    1.02       480,930       NaN
3    1990       411,000            88.4  ...    0.93       597,990       NaN
4    1991       405,000            89.6  ...    1.19       564,179       NaN
5    1992       401,000            90.5  ...    1.30       691,340       NaN
6    1993       413,000            92.0  ...    1.94       930,618       NaN
7    1994       433,000            92.6  ...    1.34       965,202       NaN
8    1995       418,000            93.7  ...    2.48       880,896       NaN
9    1996       428,000            94.4  ...    2.08     1,018,368       NaN
10   1997       442,000            95.5  ...    1.56     1,160,640       NaN
11   1998       460,000            96.3  ...    1.41       703,590       NaN
12   1999       485,000            97.3  ...    0.86       687,742       NaN
13   2000       510,000            99.0  ...    0.97       666,487       NaN
14   2001       530,000           101.0  ...    0.91       740,012       NaN
15   2002       545,000           101.0  ...    1.11     1,200,687       NaN
16   2003       550,000           103.0  ...    1.57     1,600,144       NaN
17   2004       570,000           103.0  ...    2.21     2,189,005       NaN
18   2005       590,000           104.0  ...    2.81     2,525,909       NaN
19   2006       610,000           105.0  ...    2.06     2,258,790       NaN
20   2007       640,000           105.0  ...    1.75     2,401,875       NaN
21   2008       710,000           107.0  ...    1.45     2,343,200       NaN
22   2009       750,000           108.0  ...    1.65     2,293,500       NaN
23   2010       770,000           108.0  ...    1.79     2,903,380       NaN
24   2011       800,000           111.0  ...    1.99     4,007,860       NaN
25   2012       820,000           112.0  ...    2.58     4,816,860       NaN
26   2013       880,000           112.0  ...    3.21     6,384,690       NaN
27   2014       930,000           114.0  ...    4.00     7,388,000       NaN
28   2015       950,000           114.0  ...    3.13     5,868,750       NaN
29   2016       970,000           116.0  ...    2.39     5,052,460       NaN
30   2017     1,030,000           117.0  ...    2.53     5,603,950       NaN
31   2018     1,090,000           119.0  ...    2.50     5,602,500       NaN
32   2019     1,180,000           122.0  ...    2.43     6,094,440       NaN
33   2020     1,260,000           122.0  ...     NaN           NaN       NaN

[34 rows x 10 columns]